.section1 {
    background-color: bwhite;
    height: 150px;
}

.h1-section1 {
    text-align: center;
    color: black;
}

.h2-section1 {
    text-align: center;
    color: black;
}

.section2 {
    background-color: white;
    height: 940px;
    text-align: center;
    color: black;
    padding-top: 0%;
}

.section3 {
    background-color: white;
    height: 540px;
    text-align: center;
}

footer {
    background-color: black;
    height: 250px;
    color: white;
}
.navbar {
    background: black;
}

#div1-nav {
    color: white;
    background: black;
    height: 50px;
    
}

.img-size {
    width: 30px;
    height: 30px;

}

.footer-1 {
    text-align: center;
    column-count: 3;
    
}

input{
    width: 550px;  
    height: 40px;
    border-radius: 8px
}

button{
    background-color: red;
}

.link {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    font-weight: bold; 
}

.link-nav{
    text-decoration: none;
}

.div-sobre{
    padding: 25px;
}

.div-sobre{
    column-count: 3;
    text-align: center;
   padding-top: 250px;
}


.div-section{
    padding: 100px;
    height: 940px;
   
}

.section3, .link10, .link20, .link30, .link40{
    height: 740px;
    text-decoration: none;
    color: black;
}

/* caroucel */
